/* Create a nice modular scale for sizing */
$ratio: 1.5;
$s0: 1rem;
$s-1: calc($s0 / $ratio);
$s-2: calc($s-1 / $ratio);
$s-3: calc($s-2 / $ratio);
$s-4: calc($s-3 / $ratio);
$s-5: calc($s-4 / $ratio);
$s1: calc($s0 * $ratio);
$s2: calc($s1 * $ratio);
$s3: calc($s2 * $ratio);
$s4: calc($s3 * $ratio);
$s5: calc($s4 * $ratio);

.box {
	/* ↓ Padding set to the first point on the modular scale */
	padding: $s-1;
	/* ↓ Assumes you have a --border-thin var */
	border: var(--border-thin) solid;
	/* ↓ Always apply the transparent outline, for high contrast mode */
	outline: var(--border-thin) transparent;
	outline-offset: calc(var(--border-thin) * -1);
	box-shadow: hsla(0, 0, 0, 0.2) 0 4px 2px -2px;
	background-color: #69839b;
	border-radius: 5px;
	color: white;
	margin-top: 0.5rem;
	h2 {
		font-size: 1.3rem;
		max-inline-size: 1000ch;
		font-weight: normal;
		text-decoration: underline;
		font-family: 'EB Garamond', serif;
	}

	h2:hover {
		color: rgb(219, 219, 219);
	}

	p {
		margin-top: 0.23rem;
		max-inline-size: 1000ch;
		line-height: 1.2;
	}
}

.date {
	width: 100%;
	text-align: right;
}
