.hero .frame {
	aspect-ratio: 27 / 9;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.frame > img,
.frame > video {
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
}

@media (max-width: 800px) {
	.hero .frame {
		aspect-ratio: 16/9;
	}
}

@media (max-width: 500px) {
	.hero .frame {
		aspect-ratio: 14/9;
	}
}
