nav {
	background-color: #4d5e6d;
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
}

nav ul {
	font-family: 'EB Garamond', serif;
	display: flex;
	gap: 1.5rem;
	cursor: pointer;
	margin-right: 2rem;
	font-size: 0.9rem;
	font-weight: 500;
}

nav div {
	margin-left: 2rem;
	font-family: 'Merienda', cursive;
	font-size: calc(0.7rem + 0.5vw);
}

.active {
	text-decoration: underline;
	text-underline-offset: 7px;
}

.site-icon {
	height: 30px;
	width: 30px;
}

.site-title {
	a {
		display: flex;
		gap: 0.2rem;
		align-items: center;
	}
}
