.home {
	p {
		margin: 1rem auto;
		padding-left: 1rem;
	}
	h1 {
		margin: 0 auto;
		text-align: center;
	}
	.text {
		max-width: 60vw;
		border-left: 1px solid black;
		margin: 0 auto;
		margin-top: 1rem;
	}

	a {
		text-decoration: underline;
	}
}
